# Linear Regression

### Task 1: Fish Dataset

This one's for warmup! Load in the Fish dataset, do some basic cleaning, and run linear regression to predict fish weight!

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
model = LinearRegression()
fish = pd.read_csv('Fish.csv')
fish

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [2]:
one_hot = pd.DataFrame({'Species': list(set(fish['Species']))})
fish = pd.concat([fish,pd.get_dummies(fish['Species'], prefix='Species')],axis=1)
fish = fish.drop(columns = 'Species')

In [3]:
weights = fish['Weight']
fishX = fish.drop(columns = 'Weight')

In [4]:
fishModel = model.fit(X = fishX, y= weights)
fishModel.score(fishX, weights)

0.9360849020585846

### Task 2: FIFA 19 Dataset

This one will require a little bit more artistry to get a good score. Load in the Fifa CSV and take a look at the contents. You'll have to perform some data cleaning and feature engineering on the data (removing columns, dealing with nulls, one hot encoding, etc). Once you've completed, run linear regression and see how your model does predicting overall score! Make sure you display any tables or graphs you decided to use!

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split
fifa = pd.read_csv('fifa.csv')
fifa = fifa.drop(columns = ['Name','Photo', 'Flag', 'Club Logo', 'ID', 'Nationality', 'Joined', 'Loaned From','Contract Valid Until', 'Jersey Number', 'Real Face','Unnamed: 0', 'Body Type', 'Work Rate','Value', 'Release Clause', 'Height'])
fifa

,Age,Overall,Potential,Club,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,31,94,94,FC Barcelona,€565K,2202,Left,5.0,4.0,4.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,33,94,94,Juventus,€405K,2228,Right,5.0,4.0,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,26,92,93,Paris Saint-Germain,€290K,2143,Right,5.0,5.0,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,27,91,93,Manchester United,€260K,1471,Right,4.0,3.0,1.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,27,91,92,Manchester City,€355K,2281,Right,4.0,5.0,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,19,47,65,Crewe Alexandra,€1K,1307,Right,1.0,2.0,2.0,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,19,47,63,Trelleborgs FF,€1K,1098,Right,1.0,2.0,2.0,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,16,47,67,Cambridge United,€1K,1189,Right,1.0,3.0,2.0,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,17,47,66,Tranmere Rovers,€1K,1228,Right,1.0,3.0,2.0,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,16,46,66,Tranmere Rovers,€1K,1321,Right,1.0,3.0,2.0,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [6]:
positions = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
fifa = fifa.drop(columns = positions)

In [7]:
fifa = pd.concat([fifa,pd.get_dummies(fifa['Club'], prefix='Club')],axis=1)
fifa = pd.concat([fifa,pd.get_dummies(fifa['Preferred Foot'], prefix='Preferred Foot')],axis=1)
fifa = pd.concat([fifa,pd.get_dummies(fifa['Position'], prefix='Position')],axis=1)
fifa = fifa.drop(columns = ['Club', 'Preferred Foot', 'Position'])

In [8]:
a = fifa['Weight'].sort_values().fillna('0000').str[:-3].astype('int').replace(0, np.nan)
fifa['Weight'] = a.fillna(a.mean())

In [9]:
fifa['Wage'] = fifa['Wage'].str[1:-1].replace(r'^\s*$', '000', regex=True).astype('int')

In [10]:
fifa = fifa.dropna()
overallY = fifa['Overall']
fifa = fifa.drop(columns = 'Overall')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(fifa, overallY, test_size=0.2, random_state=42)

In [12]:
model = LinearRegression()
model = model.fit(X = X_train, y = y_train)
model.score(X_test, y_test)

0.9401384358603614

### Task 3: Housing!

Now, it's time to crank it up a notch. You'll be applying more advanced feature engineering compared to the previous problems in order to improve your linear regression model!
This dataset has a lot of features, so make sure you pick only the relevant ones! As always, remember to display any tables or graphs you used in the process (e.g. heatmaps for correlation,
histograms for multivariate normality, previews for tables before and after data cleaning). Experiment around with hyperparameters for this one! Try different degrees for polynomial
regression, different alpha values for Ridge and Lasso, anything you can think of!

In [13]:
house = pd.read_csv('Housing.csv')
list(house.columns)

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [14]:
new_house = house[['MSSubClass', 'MSZoning', 'LotArea', 'Neighborhood','BldgType', 'OverallQual', 'YearBuilt', 'YrSold','Foundation', 'FullBath',
 'HalfBath', 'BedroomAbvGr', 'GrLivArea', 'SaleCondition','BsmtFullBath', 'BsmtHalfBath','GarageArea', 'PoolArea']]

In [15]:
def add_total_bathrooms(data):

    with_bathrooms = data.copy()
    bath_vars = ['BsmtFullBath', 'FullBath', 'BsmtHalfBath', 'HalfBath']
    weights = pd.Series([1, 1, 0.5, 0.5], index=bath_vars)
    with_bathrooms['TotalBathrooms'] = data[bath_vars].fillna(0).dot(weights)
    return with_bathrooms

new_house = add_total_bathrooms(new_house).drop(columns = ['BsmtFullBath', 'BsmtHalfBath','FullBath','HalfBath'])

In [16]:
new_house = pd.concat([new_house,pd.get_dummies(new_house['MSZoning'], prefix='Zoning')],axis=1)
new_house = pd.concat([new_house,pd.get_dummies(new_house['Neighborhood'], prefix='Neighborhood')],axis=1)
new_house = pd.concat([new_house,pd.get_dummies(new_house['Foundation'], prefix='Foundation')],axis=1)
new_house = pd.concat([new_house,pd.get_dummies(new_house['MSSubClass'], prefix='Subclass')],axis=1)
new_house = pd.concat([new_house,pd.get_dummies(new_house['BldgType'], prefix='BldgType')],axis=1)
new_house = pd.concat([new_house,pd.get_dummies(new_house['SaleCondition'], prefix='SaleCondition')],axis=1)
new_house = new_house.drop(columns = ['MSZoning', 'Neighborhood', 'Foundation', 'MSSubClass', 'BldgType', "SaleCondition"])

In [17]:
housey = house['SalePrice']
X_train, X_test, y_train, y_test = train_test_split(new_house, housey, test_size=0.2, random_state=42)
model = LinearRegression()
model = model.fit(X = X_train, y = y_train)
model.score(X_test, y_test)

0.8404378680674613